<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.LineTestDao">
    <select id="lineList" parameterType="com.example.entity.LineTest" resultType="map">
        select * from aaa where dt between #{startDate} and #{endDate} order by dt,rule_name asc
    </select>

</mapper>